.productCard {
    height: 60vh;
    margin: 10px;
    width: 25%;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 5px 10px 20px #888888;
    transition: box-shadow 300ms cubic-bezier(0.13, 1.01, 0.79, 1.38);
}
.productCard:hover {
    box-shadow: 5px 10px 100px #888888;
}
.image {
    width: inherit;
    height: inherit;
    border-radius: 10px;
}
.imageContainer {
    height: 100%;
    width: 100%;
    max-height: 35vh;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bottomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}
.label {
    color:#888888
}
.value {
    font-weight: bold;
}